name: github-release

on:
  workflow_dispatch:
    inputs:
      xcaddy_version:
        description: Version of xcaddy to use.
        default: v0.4.5 # renovate: datasource=github-releases depName=caddyserver/xcaddy versioning=semver
        required: true
        type: string
      caddy_version:
        description: Version of caddy to compile.
        default: v2.10.2 # renovate: datasource=github-releases depName=caddyserver/caddy versioning=semver
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: build caddy
        id: release
        run: |
          #!/bin/bash
          set -eu

          ./build.sh "${{ inputs.caddy_version }}" "${{ inputs.xcaddy_version }}"
          ls -la dist
          CADDY_VERSION=${{ inputs.caddy_version }}
          TRIMMED_VERSION=${CADDY_VERSION:1}
          echo "version=$TRIMMED_VERSION" >> $GITHUB_OUTPUT

      - uses: softprops/action-gh-release@v2.4.2
        name: create release
        with:
          body: |
            For caddy changelogs look here: https://github.com/caddyserver/caddy/releases/tag/${{ inputs.caddy_version }}
          tag_name: ${{ inputs.caddy_version }}
          token: ${{ secrets.RELEASE_TOKEN }}
          fail_on_unmatched_files: true
          files: |
            dist/caddy_${{ steps.release.outputs.version }}_checksums.txt
            dist/caddy_${{ steps.release.outputs.version }}_darwin_amd64.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_darwin_arm64.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_linux_386.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_linux_amd64.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_linux_arm64.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_windows_386.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_windows_amd64.tar.gz
            dist/caddy_${{ steps.release.outputs.version }}_windows_arm64.tar.gz
